.drag-and-drop{
    width: 500px;
    height: auto;
    position: relative;
}

.image-uploaded {
    max-width: 80%;
    max-height: 100%;
    display: block;
    margin: auto;
}

.img-btn {
    border: 3px dashed #ccc;
    border-radius: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

button {
    color: white;
    border: none;
    width: 150px;
    height: 50px;
    margin-bottom: 20px;
}

.btn-upload {
    background-color: #74C2E1;
}

.btn-upload:hover, .btn-upload:focus {
    background-color: #00BFFF;
}

.btn-cancel {
    background-color: #EE5346;
}
.btn-cancel:hover, .btn-cancel:focus {
    background-color: #FF0000;
}