
.scrollable--tabs-container {
    overflow: hidden;
    position: relative;
  }
  
  .scrollable--tabs-container svg{
    width: 36px;
    height: 36px;
    padding: 8px;
    cursor: pointer;
    color: #757575;
    border-radius: 50%;
  }
  
  .scrollable--tabs-container svg:hover {
    color: #000;
  }
  
  .scrollable--tabs-container ul{
    display: flex;
    gap: 16px;
    padding: 4px 24px;
    margin: 0;
    list-style: none;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .scrollable--tabs-container ul::-webkit-scrollbar {
    display: none;
  }
  
  .scrollable--tabs-container a{
    color: #757575;
    text-decoration: none;
    border-radius: 4px;
    padding: 0px 24px;
    display: inline-block;
    user-select: none;
    white-space: nowrap;
  }
  
  .active{
    background-color: #EEEEEE;
    border-radius: 5px;
  }
  
  .scrollable--tabs-container a:hover {
    color: #000;
  }
  
  .scrollable--tabs-container .right-arrow,
  .scrollable--tabs-container .left-arrow {
    position: absolute;
    height: 100%;
    width: 100px;
    top: 0;
    display: none;
    align-items: center;
    padding: 0 10px;
  }
  
  .scrollable--tabs-container .right-arrow.active,
  .scrollable--tabs-container .left-arrow.active {
    display: flex;
  }
  
  .scrollable--tabs-container .right-arrow {
    right: 0;
    background: linear-gradient(to left, #fff 60%, rgba(255, 255, 255, 0) 100%);  
    justify-content: flex-end;
  }
  
  .scrollable--tabs-container .left-arrow{
    background: linear-gradient(to right, #fff 60%, rgba(255, 255, 255, 0) 100%);
  }

  .bg-grey {
    background-color: #EEEEEE;
  }

  .text-grey {
    color: #757575;
  }

  .image {
    position: relative;
    text-align: center;
  }
  .image img {
    width: 100%;
    height: auto;
    filter: brightness(0.5);
  }
  .image ul {
    position: absolute;
    bottom: 3px;
    left: 0;
    right: 0;
    color: white;
    /* background-color: rgba(0, 0, 0, 0.5); */
    padding: 10px;
    margin: 0;
  }

  /* button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
  } */