    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="card border-0 mt-5">
                                <div class="card-body">
                                    <h1 class="text-center mt-5">Login</h1>
                                    <p class="text-center">Welcome back</p>
                                    
                                    <form (ngSubmit)="onSubmit()"  class="mt-5">
                                        <div class="mb-4">
                                            <label class="form-label" for="userna">Username</label>
                                            <input type="username" id="username" name="username" class="form-control" [(ngModel)]="username"/>
                                        </div>
                                        <div class="mb-4">
                                            <div class="d-flex align-items-center justify-content-between mb-2">
                                                <label for="password">Password</label>
                                                <a href="#">Forgot password ?</a> 
                                            </div>
                                            <input class="form-control" id="password" type="password" name="password" [(ngModel)]="password"/>
                                        </div>
                                        
                                        <div class="mt-4 mb-0">
                                            <button type="submit" value="Submit" class="btn btn-dark w-100">Login</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="text-center py-3">
                                    <div>Don't have an account? <a routerLink="/signup">Join</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>