<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Sign Up</h3>

                        <form (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input type="text" class="form-control form-control-lg" name="username" [(ngModel)]="username"/>
                                        <label class="form-label" for="username">Username</label>
                                    </div>
                                </div>

                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input type="email" class="form-control form-control-lg" name="email" [(ngModel)]="email"/>
                                        <label class="form-label" for="emailAddress">Email</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4 pb-2">
                                    <div class="form-outline">
                                        <input type="text" class="form-control form-control-lg" name="location" [(ngModel)]="location"/>
                                        <label class="form-label" for="location">Location</label>
                                    </div>
                                </div>

                                <div class="col-md-6 mb-4 pb-2">
                                    <div class="form-outline">
                                    <input type="tel" class="form-control form-control-lg" name="phoneNumber" [(ngModel)]="phoneNumber"/>
                                    <label class="form-label" for="phoneNumber">Phone Number</label>
                                    </div>
                                </div>
                            </div>
            
                            <div class="row">
                                <div class="col-md-6 mb-4 d-flex align-items-center">
                                    <div class="form-outline">
                                        <input type="text" class="form-control form-control-lg" name="website" [(ngModel)]="website"/>
                                        <label class="form-label" for="website">Website</label>
                                    </div>
                                </div>
                                
                                <div class="col-md-6 ">
                                    <select id="genderDropdown" class="form-select" name="gender" [(ngModel)]="gender">
                                        <option value="Female">Female</option>
                                        <option value="Male">Male</option>
                                        <option value="Other">Other</option>
                                    </select>
                                    <label for="genderDropdown" class="form-label">Gender</label>
                                </div>
                                
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <div class="form-outline">
                                        <input type="text" class="form-control form-control-lg" name="interest" [(ngModel)]="interest"/>
                                        <label class="form-label" for="interest">Interest</label>
                                    </div>
                                </div>
                            </div>
            
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-outline">
                                        <textarea type="text" class="form-control form-control-lg" name="bio" [(ngModel)]="bio"></textarea>
                                        <label class="form-label" for="bio">Bio</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <div class="form-outline">
                                        <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" name="password" [(ngModel)]="password">
                                        <label for="inputPassword5" class="form-label">Password</label>
                                        <!-- <div class="form-text text-danger">
                                        Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
                                        </div> -->
                                    </div>
                                </div>
                            </div>
            
                            <div class="mt-4 pt-2">
                                <input class="btn btn-dark w-100" type="submit" value="Submit" />
                            </div>
            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- <div class="d-flex flex-column align-items-center mb-5">
    <div *ngIf="error">
        <p>Erreur: {{ error }}</p>
    </div>

    <div class="users-container" *ngIf="users">
        <ul>
            <li *ngFor="let user of users" class="card p-3 mb-3 bg-light">
                <div class="user">
                    <span class="username">Username: {{ user.username }}</span><br>
                    <span class="user-email">Email: {{ user.email }}</span><br>
                    <span class="user-location">Location: {{ user.location }}</span><br>
                    <span class="user-phoneNumber">Phone Number: {{ user.phoneNumber }}</span><br>
                    <span class="user-website">Website: {{ user.website }}</span><br>
                    <span class="user-gender">Gender: {{ user.gender }}</span><br>
                    <span class="user-interests">Interests: {{ user.interests }}</span><br>
                    <span class="user-bio">Bio: {{ user.bio }}</span><br>
                </div>
            </li>
        </ul>
    </div>
</div> -->
